.idea/workspace.xml

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de IDEs (opcional)
.vscode/
.idea/

# Ignorar paquetes y distribuciones de Python
*.egg-info/
dist/
build/
