.idea/workspace.xml

.env

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de IDEs (opcional)
.vscode/
.idea/

# Ignorar paquetes y distribuciones de Python
*.egg-info/
dist/
build/

# Archivos de bases de datos y caché del vector store
chat_backend/vector_store/
chat_backend/0.2.27